body {
  margin: 10px;
  background-color: #224;
  color: #ccd;
  font-family: sans-serif;
}

h1 {
  font-size: 15px;
  text-align: center;
}
li {
  justify-content: left;
  padding: 4pt 0 4pt 0;
}
input {
    width: 80%;
    display: block;
}
a { color: white }